body {
	font-family: Verdana, Arial,sans-serif;
	background-color: black;
	color: yellow;
}

h2 {
	color: yellow;
	}

h3 {
	color: yellow;
}

h4 {
	color: yellow;
}

link {
	display: block;
	font-size: small;
	padding-left: 10px;
}

docs {
	display: block;
	background-color: #ffffe6;
	margin: 20px;
	text-align: center;
	padding: 5px;
	color: #7f7f7f;
	border: 1px solid silver;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}