body {
	font-family: Verdana, Arial,sans-serif;
	background-color: black;
	color: yellow;
	margin-left: auto;
	margin-right: auto;
	
}

h2 {
	color: yellow;
	}

h3 {
	color: yellow;
}

h4 {
	color: yellow;
}

link {
	display: block;
	font-size: small;
	padding-left: 10px;
}

docs {
	display: inline;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

img.displayed {
	display: inline;
    margin-left: auto;
    margin-right: auto 
}
  
table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  
table.td {
	vertical-align: top;
}
